*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 80vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    background-color: yellow;
    padding: 3rem 1rem;
}
.subContainer div {

}

/* this is my media query section  */

@media (max-width:1024px){
    .subContainer{
        background-color: blue;
        color: white;
    }
}